@{
    ViewBag.Title = "Database Security";
}

<h3>Database Security</h3>

<ul>
    <li>Use only strongly typed parameterized queries.</li>
    <li>Access database with lowest possible and different privileges.(More than one user/connection string)</li>
    <li>Use secure and securely stored credentials.(Encrypted, NOT on/in the system)</li>
    <li>Restrict access all data stores using isolation or even ip limitation.</li>
    <li>Turn off/remove/change any default configuration/schema/table/password/username.</li>
    <li>Publish a Policy.</li>
</ul>