@{
    ViewBag.Title = "System Configuration";
}

<h3>System Configuration</h3>

<ul>
    <li>Ensure we are up to date. (OS, Frameworks, Components, etc.)</li>
    <li>Turn off/remove every unnecessary OS, Framework, Component functionality.</li>
    <li>Turn off directory listings.</li>
    <li>Restrict running process to low privileges as possible.</li>
    <li>Turn off standard error pages and use custom/generic error pages.</li>
    <li>Turn off/remove all unnecessary functionality and files. (Including test codes)</li>
    <li>Configure robot.txt to prevent disclosure of your directory structure.</li>
    <li>Define and Limit Get or Post requests for specific resources.</li>
    <li>Turn off unnecessary protocol or method support such as WebDAV.</li>
    <li>Prefer HTTP 1.1 or configure 1.0 and 1.1 in same manner.</li>
    <li>Remove unnecessary information from Response Headers (OS, Web Server Platform, Framework, etc.)</li>
    <li>Restrict access on development and test environments. (Common weakness awareness).</li>
    <li>Publish a Policy.</li>
</ul>