@{
    ViewBag.Title = "Bad Examples";
}

<h3>Communication Security</h3>

<h4>Bad Practices</h4>
<ul>
    <li>Encryption will slow down communication, don't waste our band-width.</li>
    <li>HTTP is enough, who do you think are gonna sniff our client's packets</li>
    <li>Developers should access production machines directly on emergent cases.</li>
</ul>