@{
    ViewBag.Title = "Bad Examples";
}

<h3>Cryptographic Practices</h3>

<h4>Bad Practices</h4>
<ul>
    <li>Trust your site members and staff, don't use encryption it will slow down the system</li>
    <li>Use MD5 for password or client side hashes</li>
    <li>Store master key in code or config file or accesseble place by colleagues in your company</li>
    <li>Use SHA-0, SHA-1, DES</li>
    <li>Use machine provided/environment variable salt or master key</li>
    <li>If cryptography fail then contunie unencrypted</li>
    <li>Don't waste your time to document your policy about it, you have to finish your job first!!!</li>
</ul>