@{
    ViewBag.Title = "Bad Examples";
}

<h3>Data Protection</h3>

<h4>Bad Practices</h4>
<ul>
    <li>We should have one root user he could do anything he wants</li>
    <li>Prefer White-List approach.</li>
    <li>You can send all the information to client about our entities.</li>
    <li>Cryptography is nonsense...</li>
    <li>We can allow our users to download/view our code or configurations, so they can say, how we good at what we are doing...</li>
    <li>We can trust client site to send and store all data.</li>
    <li>Document every system specs detailed and publish them on public site.</li>
    <li>Comment out passwords in the code to remember.</li>
    <li>Use HTTP GET so our clients can revisit the urls from their browser history.</li>
</ul>