@model SCP.Web.Models.OutputEncodingModel
@{
    ViewBag.Title = "Bad Examples";
}

<h3>Output Encoding</h3>

<div class="row" style="margin: 5px;">
    <b>Subject:</b> @Html.Raw(Model.Subject)
    <hr /> 
    <b>Message:</b> @Html.Raw(Model.Message)
    <hr />
    <b>Path:</b> @Html.Raw(Model.Path)
    <hr />
    <b>Credit Card Number:</b> @Html.Raw(Model.CreditCardNumber)
</div>
