@{
    ViewBag.Title = "Good Examples";
}

<h3>Communication Security</h3>

<h4>Good Practices</h4>
<ul>
    <li>Implement secure communication channels for all kind of communications especially when sensitive data involved.(Encrypted, TLS for HTTP based)</li>
    <li>Prefer steady HTTPS NOT switching it.</li>
    <li>If we are using HTTP referrer filter/encode parameters before use.</li>
    <li>Isolate production (Also staging) environment from everything else.</li>
</ul>