@{
    ViewBag.Title = "Good Examples";
}

<h3>Cryptographic Practices</h3>

<h4>Good Practices</h4>
<ul>
    <li>Do NOT trust anyone and encrypt any sensitive data</li>
    <li>Use One-Way & Salted hashes for password or client side hashes</li>
    <li>Do NOT Store master key in code or config file or any accesseble place by colleagues in your company, AUTHORIZED PERSONNEL ONLY!!!</li>
    <li>Use SHA-256, AES and before use one of them check FIPS 140-2</li>
    <li>Do NOT Use machine provided/environment variable salt or master key, use secure &amp; Restricted configuration service</li>
    <li>If cryptography fail then do NOT contunie with any sensitive data</li>
    <li>If some one hacks us we will lose so much money, you have to document our policy, very strictly</li>
</ul>