@{
    ViewBag.Title = "Good Examples";
}

<h3>Error Handling</h3>

<div class="panel panel-warning">
    <div class="panel-heading panel-title">
        An Error Accoured
    </div>
    <div class="panel-body">
        <div class="well">
            <p>But do not worry, we will know what happend and will going to deal with it soon.</p>
        </div>
    </div>
</div>