@{
    ViewBag.Title = "Good Examples";
}

<h3>Logging</h3>

<p>We are logging everything, but sorry, we can show you only HASHED incident id</p>

<p>
    <b>Incident ID:</b> @Html.Encode(ViewData["incident_id"])
    <br />
    You can mail this id to customer services for some detail.
</p>