@model string
@{
    ViewBag.Title = "Good Examples";
}

<h3>Session Management</h3>

<h5>Your Session Id: @Html.Encode(ViewData["session_id"])</h5>
@using (Html.BeginForm("SessionManagement", "Good", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row pull-right" style="margin: 10px;">
        <input type="hidden" id="logout" name="logout" value="true" />
        <input type="submit" value="logout" />
    </div>
}